<div class="wrapper" id="App">
    <section class="slice bg-2 p-15" id="App">


        <div class="container" ng-app="CarFinderApp" id="App">
            <div ng-controller="CarFinderController" id="controller">
                <div class="row">
                    <div class="col-md-3">
                        <h3>Year</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Make</h3>
                    </div>
                    <div class="col-md-3">
                        <h3>Model</h3>
                    </div>
                    <div class="col-md-3" id="trimHeading">
                        <h3>Trim</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <select ng-model="selectedYear" ng-options="year for year in years" ng-change="getMakes()" class=" = " form-control></select>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="selectedMake" ng-options="make for make in makes" ng-change="getModels()" class=" = " style="text-transform: capitalize;" form-control></select>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="selectedModel" ng-options="model for model in models" ng-change="getTrims()" class=" = " form-control></select>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="selectedTrim" ng-options="trim for trim in trims" ng-change="getCar()" class=" = " id="trimList" form-control></select>
                    </div>
                </div>
                <br />
                @*<div class="row" id="displayButton">
                        <button ng-click="getCar();" click=>Display Car</button>
                    </div>*@

                <div id="displayedInfo">
                    <p class="mainInfo"> Year: {{car.Car.model_year}}</p>
                    <p class="mainInfo" style="text-transform: capitalize;">Make: {{car.Car.make}}</p>
                    <p class="mainInfo">Model: {{car.Car.model_name}}</p>
                    <p class="mainInfo">Trim: {{car.Car.model_trim}}</p>
                    <p class="mainInfo">Number of Cylinders: {{car.Car.engine_num_cyl}}</p>
                    <p class="mainInfo">Engine Position: {{car.Car.engine_position}}</p>
                    <p class="mainInfo">Engine Power: {{car.Car.engine_power_ps}} Horsepower</p>
                    <p class="mainInfo">Weight: {{2.20462 * car.Car.weight_kg | number: 0}} lbs. ({{car.Car.weight_kg | number: 0}} kg)</p>
                    <br />
                    <br />
                    <h3>Recall information: </h3>
                    <div ng-repeat="result in car.Recalls.Results">
                        <br />
                        <br />
                        <p class="recallInfo"> Manufacturer: {{result.Manufacturer}}</p>
                        <p class="recallInfo"> NHTSA Campaign Number: {{result.NHTSACampaignNumbber}}</pclass>
                        <p class="recallInfo"> Date Report Received: {{result.ReportReceivedDate}}</p>
                        <p class="recallInfo"> Component: {{result.Component}}</p>
                        <p class="recallInfo"> Summary: {{result.Summary}}</p>
                        <p class="recallInfo"> Consequence: {{result.Conequence}}</p>
                        <p class="recallInfo"> Remedy: {{result.Remedy}}</p>
                        <p class="recallInfo"> Notes: {{result.Notes}}</p>
                    </div>

                    <div id="errorDisplay">
                        A vehicle matching these search criteria could not be found.
                    </div>
                    <br />
                    <hr>

                    <h4 style="text-align:center">Click on image to enlarge</h4>
                    <br />
                    <div class="container" id="images">
                        <div class="row">
                            <div ng-repeat="img in car.Images.responseData.results" class="col-sm-3">
                                <a href="#" data-target="#{{img.imageId}}" data-toggle="modal">
                                    <img src="{{img.tbUrl}}" />
                                </a>
                                <br />
                                <a href="{{img.originalContextUrl}}" target="_blank">Go to source webpage</a>

                                <div class="modal fade" id="{{img.imageId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                @*<h1 class="modal-title" id="myModalLabel"></h1>*@
                                            </div>
                                            <div class="modal-body col-sm-12">
                                                <a href="{{img.url}}" target="_blank">
                                                    <img src="{{img.url}}" alt="{{selectedYear}} {{selectedMake}} {{selectedModel}}" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="modal-footer no-margin">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<script>
                        function dispContent() {
                            //angular.element(document.getElementById('#controller')).scope().getCar();
                            //angular.element(document.getElementById('#controller')).scope().$apply();
                            $("#carouselContent").html('<div class="item" ng-class="{active : $first, item : true}" ng-repeat="img in car.Images.responseData.results"><img src="{{img.url}}" style="width:auto; height:100%;" alt="{{selectedYear}} {{selectedMake}} {{selectedModel}}" /></div>');
                        }
                    </script>*@

                @*<div id="homepageCarousel" class="carousel carousel-1 slide color-two-l" data-ride="carousel">

                        <div class="carousel-inner" role="listbox">

                            <div class="item active">
                            </div>

                            <div class="item" ng-repeat="img in car.Images.responseData.results">
                                <a href="{{img.url}}" target="_blank">
                                    <img src="{{img.url}}" style="width:auto; height:100%;" alt="{{selectedYear}} {{selectedMake}} {{selectedModel}}" />
                                </a>
                            </div>

                        </div>

                         Controls
                        <a class="left carousel-control" href="#homepageCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#homepageCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>

                    </div>*@

            </div>
        </div>
    </section>
</div>
