body {
    background-color: gold;
    margin: auto;
}

.mainInfo {
    font-size: large;
}

.navbar {
    background-color: darkred;
}

.navbar-header {
    color: yellow;
}

#App {
    background-color: gold;
}

.appLabel {
    color: yellow;
}

#title{
    font-size: xx-large;
    text-align: center;
}

#home{
    font-size: x-large;
    text-align: center;
    color: yellow;
}
#logoImage {
    
}

#API {
    font-size: medium;
    /*vertical-align: bottom;*/
    text-align: right;
}


footer {
    background-color: gold;
    color: black;
}
